
node_modules/
**/node_modules/

dist/
**/dist/
build/
**/build/
.temp/
.tmp/
**/tmp/

.env
.env.*
**/.env
**/.env.*

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
.vscode/
.DS_Store
Thumbs.db